{
  "parser": "babel-eslint",
  "extends": ["airbnb", "plugin:import/errors", "plugin:import/warnings"],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "plugins": ["jest"],
  "globals": {
    "shallow": true,
    "mount": true,
    "createElement": true,
    "shallowExpect": true,
    "React": true
  },
  "rules": {
    "function-paren-newline": ["error", "multiline"],
    "import/extensions": [0],
    "import/no-duplicates": [2],
    "import/no-extraneous-dependencies": [0],
    "import/no-named-as-default": [0],
    "jsx-a11y/click-events-have-key-events": [0],
    "jsx-a11y/no-noninteractive-element-to-interactive-role": [0],
    "max-len": [
      "error",
      { "code": 120, "ignoreStrings": true, "ignoreTemplateLiterals": true }
    ],
    "no-await-in-loop": [0],
    "no-confusing-arrow": [0],
    "no-nested-ternary": [0],
    "no-useless-concat": [2],
    "object-curly-newline": [
      "error",
      {
        "ObjectExpression": {
          "consistent": true
        },
        "ObjectPattern": {
          "multiline": true
        }
      }
    ],
    "prefer-template": 2,
    "react/forbid-prop-types": [0],
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "react/jsx-max-props-per-line": [1, { "maximum": 1, "when": "always" }],
    "react/jsx-one-expression-per-line": [0],
    "react/no-array-index-key": [0],
    "semi": [2, "never"]
  }
}
