.piolibdeps
.clang_complete
.gcc-flags.json

// Ignore everything down this path, EXCEPT for firmware.hex
.pioenvs
!.pioenvs/sparkfun_promicro16
.pioenvs/sparkfun_promicro16/*
!.pioenvs/sparkfun_promicro16/firmware.hex

board.b#*
board.s#*
.vscode/c_cpp_properties.json
.vscode/.browse.c_cpp.db*
.vscode/launch.json
