@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin animate($name, $duration:300ms, $timingFunction: ease, $iteration: 1, $direction: normal, $delay: 0ms, $fillMode: none, $playState: running) {
  -webkit-animation-duration: $duration;
  -moz-animation-duration: $duration;
  -o-animation-duration: $duration;
  animation-duration: $duration;

  -webkit-animation-timing-function: $timingFunction;
  -moz-animation-timing-function: $timingFunction;
  -o-animation-timing-function: $timingFunction;
  animation-timing-function: $timingFunction;

  -webkit-animation-delay: $delay;
  -moz-animation-delay: $delay;
  -o-animation-delay: $delay;
  animation-delay: $delay;

  -webkit-animation-iteration-count: $iteration;
  -moz-animation-iteration-count: $iteration;
  -o-animation-iteration-count: $iteration;
  animation-iteration-count: $iteration;

  -webkit-animation-direction: $direction;
  -moz-animation-direction: $direction;
  -o-animation-direction: $direction;
  animation-direction: $direction;

  -webkit-animation-fill-mode: $fillMode;
  -moz-animation-fill-mode: $fillMode;
  -o-animation-fill-mode: $fillMode;
  animation-fill-mode: $fillMode;

  -webkit-animation-play-state: $playState;
  -moz-animation-play-state: $playState;
  -o-animation-play-state: $playState;
  animation-play-state: $playState;

  -webkit-animation-name: $name;
  -moz-animation-name: $name;
  -o-animation-name: $name;
  animation-name: $name;
}
