@import 'variables';

:local {
  .infoPanel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $color-appbar-text;
    font-size: 13px;
    font-weight: 100;
    height: $height-footer;

    a {
      text-decoration: underline;
      color: $color-appbar-text;
    }

    .versions {
      padding: 10px;
    }

    .version {
      padding-left: 25px;
    }

    .copyright {
      @extend .versions;
    }
  }
}
