@import 'variables';
@import 'led';

$led-size: 15px;
:local {
  .midiActivity {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0;
    color: $color-shifter-text;
    font-size: 14px;
    text-transform: uppercase;

    .ledBase {
      border-radius: 50%;
      margin: 0 10px 0 8px;
    }

    .led {
      @extend .ledBase;
      @include led($led-size, $color-led-switches, #333);
    }

    .ledBlink {
      @extend .ledBase;
      @include led-on($led-size, $color-led-switches, #333);
    }
    .ledPower {
      @extend .ledBase;
      @include led($led-size, $color-led-activity, #333);
    }

    .ledPowerBlink {
      @extend .ledBase;
      @include led-on($led-size, $color-led-activity, #333);
    }
  }
}
