@import 'variables';
@import 'mixins';

:local {
  .topBar {
    @include dropShadow(lighten($color-shadow, 15), 1px);
    box-sizing: border-box;
    height: $height-header;
    padding: 10px 16px 10px 10px;
    margin: 0;
    background-color: $color-appbar-background;
    color: $color-appbar-text;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    section {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
    }

    svg {
      fill: $color-text-dimmer;
    }
  }

  .mainContent {
    padding: 0 4px;
    margin: 0;
  }
}
