@import 'variables';

:local {
  .registrationDialog {
    max-width: 500px;

    p {
      color: $color-text-dimmer !important;
    }

    form {
      margin: 20px 0 30px;
      border: 2px groove lighten($color-text-mid, 50);
      border-radius: 5px;
      padding: 15px;
      background-color: $color-background-light;
    }

    .nameFields {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }

    .gravatarNotice {
      display: flex;
      max-width: 330px;

      svg {
        width: 36px;
        height: 36px;
        margin-right: 7px;
      }

      a {
        color: $color-text-dimmer;
        font-size: 14px;
      }
    }
  }

  .userInfo {
    cursor: pointer;
    outline: none;
    margin-right: 16px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    .layout {
      display: flex;
      flex-flow: row nowrap;

      section {
        display: flex;
        flex-flow: column nowrap;
        align-self: center;
        color: $color-text-dimmer;
        outline: none;
        div {
          font-size: 13px;
          text-decoration: underline;
        }
        .name {
          padding: 0 10px 0 0;
          font-size: 15px;
        }
      }
    }
  }
}
