@import 'variables';

:local {
  .settings {
    h2 {
      margin-left: 20px;
    }

    section {
      margin: 20px 0 40px 40px;
    }

    section:nth-of-type(3) {
      margin-top: 60px;
    }
  }
}
