@import 'variables';
@import 'mixins';

:local {
  .gridRow {
    display: flex;
    flex-flow: row nowrap;
    text-align: center;
    user-select: none;
    border: 2px solid rgba(0, 0, 0, 0);

    section {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      width: 50%;
      padding: 4px 0;

      aside {
        // Icons
        @include absWidth(30px);
        color: $color-shadow;
      }

      > div:first-of-type {
        // Message
        @include absWidth(100px);
      }

      > div:nth-of-type(2) {
        // Channel
        @include absWidth(75px);
      }

      > div:nth-of-type(3) {
        // Value
        @include absWidth(160px);
      }
    }

    section:nth-child(odd) {
      flex-grow: 1;

      aside {
        cursor: pointer;
      }
    }

    section:nth-child(even) {
      width: 40px;
      max-width: 40px;
    }
  }

  .gridRowSelected {
    border-radius: 3px;
    border: 2px solid $color-shifter-red;
    background-color: lighten($color-shifter-red, 70) !important;
  }

  .gridRowDisabled {
    font-style: italic;
    color: $color-text-light;
    .material-icons {
      cursor: default !important;
      fill: $color-text-light;
    }
  }

  .formattedNoteName {
    display: flex;
    flex-flow: row nowrap;
    article {
      @include ellipsis;
    }
  }
}
