@import 'variables';
@import 'mixins';

:local {
  .container {
    border: 4px solid $color-shifter-red;
    border-radius: 0 4px 4px 4px;
  }

  .loadingCont {
    padding-top: 80px;
    text-align: center;
    font-size: 24px;
    color: $color-text-dimmer;
    height: calc(100vh - #{$grid-height} + 55px) !important;
    overflow: hidden !important;
  }
}
