:local {
  .outer {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main {
    height: 100vh;
    max-width: 600px;
    margin: 5px;
    text-align: center;

    a {
      margin: 10px 0 3px;
      font-size: 14pt;
      color: #7777ff;
    }

    header {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      font-size: 10pt;
      a {
        color: #ccc;
        text-decoration: underline;
      }
    }

    h1 {
      font-size: 30pt;
    }

    p {
      font-size: 14pt;
    }

    footer {
      display: flex;
      flex-flow: row nowrap;

      section {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin-top: 20px;
      }
    }
  }
}
